@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  max-width: 100vw;
}

.App-logo {
  height: 100%;
}

.App-header {
  display: flex;
  background-color: black;
  height: 5vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.App-title {
  font-size: 1.25em;
  font-family: 'Josefin Sans', sans-serif;
}

.App-intro {
  margin-top: 3%;
  font-size: 1.25em;
  max-width: 90vw;
  font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    max-height: 10vh;
    min-height: 10vh;
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;

}


a:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

a:last-child {
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px; 
}

@media (max-width: 330px) {
    a {
      padding-left: 2%;
      padding-right: 2%;  
    }
}

a {
    flex-grow: 1;
    max-width: 100%;
   line-height: 10vh;
   padding-left: 4%;
   padding-right: 4%;
   text-decoration: none;
   color: dodgerblue;
    border: 1px solid;
    border-color: dodgerblue;
    background-color: transparent;
}

.active {
  color: white;
  background-color: dodgerblue;
}

.teams-button {
    list-style-type: none;
    border: 0px;
    font-size: large;
    margin: 0;
    padding: 0;
    color: dodgerblue;
    font-size: 1.25em;
}

.teams-body, .locations-body{
    margin-top: 2%;
}
.accordion_parent{
    max-width: 100vw;
}

.accordion_item{
    max-width: 100vw;
}

.accordion__title{
    width: 90vw;
    max-width: 90vw;
    border: 1px solid;
    border-color: grey;
}

@-ms-viewport{
  width: device-width;
}