@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

.App {
  text-align: center;
  max-width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 100%;
}

.App-header {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-color: #F68321;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  height: 10vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.App-title {
  padding-left: 25%;
  font-size: 1.25em;
  font-family: 'Josefin Sans', sans-serif;
}

.App-intro {
  margin-top: 3%;
  font-size: 1.25em;
  max-width: 90vw;
  font-family: 'Montserrat', sans-serif;
}

.content, .calendar-body {
    height: 100vh;
}

/*
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    max-height: 10vh;
    min-height: 10vh;
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;

}


a:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

a:last-child {
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px; 
}
*/
/*

@media (min-width: 320px) and (max-width: 339px) {
    a {
      padding-left: 2%;
      padding-right: 2%;  
    }
}

@media (min-width: 340px) {
    a {padding-left: 4%;
        padding-right: 4%;}
}
*/

/*
a {
    flex-grow: 1;
    max-width: 100%;
   line-height: 10vh;
   text-decoration: none;
   color: dodgerblue;
    border: 1px solid;
    border-color: dodgerblue;
    background-color: transparent;
}
*/

.active {
  color: white;
  background-color: dodgerblue;
}

.teams-button {
    list-style-type: none;
    border: 0px;
    font-size: large;
    margin: 0;
    padding: 0;
    color: dodgerblue;
    font-size: 1.25em;
}

.teams-body, .locations-body{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.accordion_parent{
    max-width: 90vw;
}

.calendar_body {
    height: 90vh;
}

.accordion_item{
    max-width: 100vw; 
}

.accordion_title{
  width: 90vw;
    max-width: 90vw;
    padding: 0;
    background-color: rgba(255, 195, 109, 0.5);
    border: 1px solid;
    border-color: rgba(255,255,255, 0.3);
}

.accordion_body{
    padding: 5%;
    background-color: rgba(255,255,255, 0.3);
}

.accordion_body a {
    text-decoration: none;
    padding: 2%;
}

@-ms-viewport{
  width: device-width;
}

.month_menu {
    display: flex;
    padding: 0;
    justify-content: flex-start;
    overflow-x: scroll;
    background-color: transparent;
    z-index: 200;
}

.month_item {
    background-color: transparent;
    color: gray;
    border: 0px;
    padding-left: 2%;
    padding-right: 2%;
}

.month_item.active {
    font-weight: bold;
    color: black;
}

.schedule-team-header {
    background-color: rgba(255, 195, 109, 0.5);
    margin: 0px;
    padding: 2%;
}

.schedule-team-body {
    background-color: rgba(255,255,255, 0.3);
}


.schedule-team-container{
    display: flex;
    flex-direction: column;
    max-width: 95vw;
}

.schedule-container{
    display: flex;
    justify-content: center;
}

.global_container{
    width: 90vw;
}


.pie {
  display: none;
  position: fixed;
  top: -5em;
  left: -10em;
  padding: 0;
  width: 20em; height: 20em;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  transform: translate(-50%, 0);
  transform: rotate(120deg) scaleX(-1);
  z-index: 30;
  background: rgba(255, 195, 109, 0.5);
}
.slice {
  overflow: hidden;
  position: absolute;
  top: 0; right: 0;
  width: 50%; height: 50%;
  transform-origin: 0% 100%; 
}
.slice:first-child {
  transform: rotate(-90deg) skewY(-22.5deg);
}

.slice:last-child {
  transform: rotate(25deg) skewY(-22.5deg);
}

.slice:nth-child(2){
  transform: rotate(-25deg);
}

.slice-contents {
  position: absolute;
  left: -100%;
  width: 200%; height: 200%;
  border-radius: 50%;


}
.slice:first-child .slice-contents {
  transform: skewY(22.5deg); /* unskew slice contents */
}

.slice:last-child .slice-contents {
  transform: skewY(22.5deg); /* unskew slice contents */
}

.schedule-icon{
    transform: rotate(-160deg);
    position: absolute;
    height: 15%;
    width: 15%;
    top: 10%;
    right: 15%;
}

.teams-icon{
    transform: rotate(182deg);
    position: absolute;
    height: 15%;
    width: 15%;
    top: 3%;
    right: 25%;
    z-index: 100;
}

.chat-icon{
    transform: rotate(20deg);
    position: absolute;
    height: 15%;
    width: 15%;
    top: 5%;
    right: 20%;
}

.home-icon {
   height: 100%;
   width: 100%;
   color: white;
}

.home {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 4em; height: 4em;
  background-color: transparent;
  border-radius: 50%;
}

.cn-overlay{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:0;
  transition: all .3s ease;
  z-index:2;
  pointer-events:none;
}

/* Class added to the overlay via JavaScript to show it when navigation is open */
.cn-overlay.on-overlay{
  pointer-events:auto;
  opacity:1;
}

.chat-title{
    text-align: left;
    background-color: rgba(255, 195, 109, 0.5);
    padding: 3%;
}

.chat-info{
    text-align: left;
    padding: 2%;
}

input[type=button] {
    padding: 2%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    border: none;
    background-color: rgba(255, 195, 109, 0.5);
    border-radius: 2px;
    font-size: 1em;
}

.chats-list{
 position: absolute;
 top: 25%;
}

.chat-buttons {
    display: flex;
    justify-content:space-between;
}

.chat-buttons > input {
    margin: 2%;
}